body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
}

h1, h2, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

/* Harjutuse read */
.exercise-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#exercise-container {
    margin-bottom: 10px;
}

#result-input-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button.add-row-btn {
    background-color: #17a2b8;
}

button.add-row-btn:hover {
    background-color: #138496;
}


input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


input.error {
    border-color: #dc3545;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    display: block;
    margin: 5px 0;
}

button:hover {
    background-color: #218838;
}




